* {
    box-sizing: border-box;
    text-decoration: none;
  }

body {
    margin: 0;
    font-family: "Lucida Grande";
}

.container {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}  

.header-left {
    float: left;
}  